* {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

.HomeCardProduct {
  align-content: space-between;
  align-items: center;
  border: 1px groove #353e5250;
  border-radius: 3px;
  border-top: transparent;
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: flex-start;
  margin: 8px;
  padding-bottom: 10px;
  width: 156px;
}

.thumbnail {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  max-height: 100px;
  width: 156px;
}

.icon-heart {
  color: rgba(128, 128, 128, 0.55);
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
  padding-right: 5px;
  padding-top: 5px;
  position: absolute;
  width: 156px;
}

.icon-heart button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  outline: none;
  width: 30px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 0;
}

.card-title {
  font-size: 14px;
  height: 40px;
  padding: 0 20px;
  text-align: center;
}

.card-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

.card-price {
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.link-product-detail {
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.add-to-cart {
  align-items: center;
  background-color: #353e52;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 10px;
  height: 25px;
  justify-content: center;
  margin-top: 5px;
  padding: 5px;
  width: 120px;
}
