* {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.container-cards {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cards {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 120px;
  width: auto;
}
