* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.route-page {
  padding-left: 20px;
  display: flex;
  width: 100%;
}

.route-link-current {
  color: #353e52;
  font-weight: bold;
  margin-left: 10px;
}

.route-link {
  margin-right: 10px;
  color: #353e52;
  text-decoration: underline;
}

.cart-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  width: 350px;
}

.cart-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #353e5252;
  border-radius: 5px;
  padding: 10px;
  height: fit-content;
  width: 350px;
}

.cart-finalize-payment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #353e5252;
  border-radius: 5px;
  max-width: 350px;
  height: fit-content;
  margin: 20px;
  padding: 10px 10px 30px 10px;
}

.cart-total {
  font-size: 20px;
  color: green;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.go-to-cart,
.go-to-shopping {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  max-width: 315px;
  padding: 0;
  border: 1px solid #353e52;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgba(0, 128, 0, 0.683);
  margin-top: 15px;
}

.cart-shipping{
  width: 100%;
  padding-left: 10px;
}

.payment-method-icons {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.go-to-shopping {
  background-color: #353e5292;
}

.go-to-cart:hover,
.go-to-shopping:hover {
  background-color: #353e52;
}

.text-button {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-left: 10px;
}

@media (max-width: 400px) {
  /* .cart-products {
    width: 390px;
  } */
}
