* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cart {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.route-page {
  display: flex;
  padding-left: 20px;
  width: 100%;
  margin-top: 120px;
}

.route-link-current {
  color: #353e52;
  font-weight: bold;
  margin-left: 10px;
}

.route-link {
  color: #353e52;
  margin-right: 10px;
  text-decoration: underline;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.cart-products {
  align-items: center;
  border: 1px solid #353e5252;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  width: 350px;
}

.cart-finalize-payment {
  align-items: center;
  border: 1px solid #353e5252;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  margin: 20px;
  max-width: 350px;
  padding: 10px 10px 30px 10px;
}

.cart-total {
  color: green;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  margin-left: 10px;
}

.cart-shipping {
  padding-left: 10px;
  width: 100%;
}
