h2 {
  margin: 20px;
  font-size: 20px;
  color: rgb(94, 94, 94);
  width: 100%;
}

.info-shipping {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
  border: 1px solid #f9b9ba7e;
  border-radius: 5px;
  padding: 10px;
  max-width: 450px;
  height: fit-content;
}

.item-form {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px 10px;
  padding: 0;
  width:max-content;
}

.info-shipping label{
  display: flex;
  min-width:max-content;
  align-items:center;
  height: 30px;
  margin: 0;
  font-size: 14px;
}

.info-shipping input, .info-shipping select {
  padding:0;
  height: 30px;
  margin-left: 5px;
  font-size: 14px;
  border: 0.5px solid rgb(94, 94, 94);
  border-radius: 5px;
}

.cep {
  width: 120px;
}

.state {
  height: 30px;
}

.address {
  width: 340px;
}

.complement {
  width: 170px;
}

.number {
  width: 60px;
}

.district, .city, .phone, .cpf{
  width: 135px;
}

.fullname {
  width: 300px;
}

.email {
  width: 250px;
}
