.checkout-send-payment h2{
  margin: 20px 10px 10px 10px;
  font-size: 20px;
  color: rgb(94, 94, 94);
}

.checkout-send-payment {
  border: 1px solid rgba(128, 128, 128, 0.198);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width:375px;
  padding-bottom: 20px;
}

.checkout-send-payment span {
  font-weight: bold;
}

.button-send-payment {
width:100%;
padding: 0 10px;
display: flex;
justify-content: center;
margin-top: 20px;
}


.button-send-payment button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 335px;
  border: 1px solid #f9b9ba;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f9b9ba;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 20px;
}