* {
  box-sizing: border-box;
  font-family: Open Sans , sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(94, 94, 94);
}

.category {
  background-color: #f9b9ba;
  border-radius: 5px;
  font-size: 16px;
  line-height: 25px;
  margin: 40px;
  padding: 10px;
  text-align: center;
  width: max-content;
}

.faq {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}

.question {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.btn-question {
  background-color: rgba(128, 128, 128, 0.025);
  border: 1px solid #f9b9ba;
  box-shadow: 8px 9px 7px -4px rgba(0, 0, 0, 0.205);
  width: 80%;
  font-size: 16px;
}

.btn-question:hover {
  background-color: #f9b9ba;
  border: rgb(94, 94, 94);
}

.btn-question:focus {
  background-color: #f9b9ba;
  border: rgb(94, 94, 94);
  box-shadow: none;
  transition: .5s ease-out;
}

.answer {
  border: 1px solid #f9b9ba;
  border-radius: 5px;
  width: 80%;
  margin-top: 7px;
  padding: 10px;
  box-shadow: 8px 9px 7px -4px rgba(0, 0, 0, 0.205);
}

.answer p {
  line-height: 25px;
  text-align: justify;
  font-size:14px;
}