* {
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.container-cards{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    position: relative;
}

.home-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: auto;
}