* {
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(94, 94, 94);
}

a:hover {
    text-decoration: none;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}