* {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.HomeCardProduct {
  align-items: center;
  border: 1px groove #353e5250;
  border-top: transparent;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 230px;
  padding-bottom: 10px;
  justify-content: flex-start;
  margin: 8px;
  width: 156px;
  align-content: space-between;
}

.thumbnail {
  margin-bottom: 10px;
  width: 156px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  max-height: 100px;
}

.icon-heart{
  font-size: 20px;
  position: absolute;
  width: 156px;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  padding-top: 5px;
  color: rgba(128, 128, 128, 0.55)
}

.icon-heart button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  width: 30px;
  height: 30px;
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  padding: 0;
  margin-bottom: 10px;
}

.card-title {
  font-size: 14px;
  height: 40px;
  padding: 0 20px;
  text-align: center;
}

.card-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-price {
  width: 30px;
  text-align: center;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
}

h4,
h5 {
  width: 100%;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 5px;
  height: 25px;
  border-radius: 5px;
  font-size: 10px;
  background-color: #353E52;
  margin-top: 5px;
  color: white;
}