* {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(94, 94, 94);
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.carousel-fade {
  height:300px;
}

.carousel-item {
  text-align: center;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: transparent;
}
.carousel-control-next-icon {
  background-image: url(../images/icons/chevron-right-solid.svg);
}

.carousel-control-prev-icon {
  background-image: url(../images/icons/chevron-left-solid.svg);
}

.image-product-detail {
  max-width: 290px;
  max-height: 300px;
  border-radius: 10px;
}

.carousel-indicators li {
  /* margin-top: 200px; */
  background-color: rgb(94, 94, 94);
}
