.cart-list-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h2 {
  margin: 20px 0;
  font-size: 20px;
  color: rgb(94, 94, 94);
}

.list-products{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divisor-item {
  padding: 0;
  margin: 10px 0;
}

.product-detail-cart{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: start;
  text-decoration: none;
  border:none;
  background-color: transparent;
}

.li-product-cart {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
}

.li-product-cart a {
  background-color: transparent;
}

.info-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.img-product-cart {
  max-height: 50px;
  border-radius: 3px;
  margin-top: 3px;
}

.detail-product {
  margin-left: 10px;
}

.name-product-cart {
  width: 225px;
}

.name-product-cart h3 {
  text-align: left;
  margin-bottom: 0;
  font-size: 16px;
}

.sku-product-cart,
.price-product-cart {
  font-size: 12px;
}

.sum-product-quantity-value {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

.go-to-details {
  border: none;
}

.go-to-details:onClick {
  cursor: pointer;
  border: none;
}
