.payment-method h2 {
  margin: 20px 10px 10px 10px;
  font-size: 20px;
  color: rgb(94, 94, 94);
}

.payment-method {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  margin: 5px 10px 35px;
}

.payment-method-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.payment-method-icons hr {
  width: 95%;
  align-self: center;
}

.payment-select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  width: 90px;
  height: 50px;
}

.payment-select img {
  margin-left: 10px;
}

.payment-icon {
  width: 40px;
}
