.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 65vh;
}

.div-icon-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.cart-empty-message {
  font-size: 25px;
}

.fa-cart-empty {
  font-size: 100px;
  color: black;
  margin-top: 30px;
}
