.clear-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.header-list-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart-list-products {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: rgb(94, 94, 94);
  font-size: 20px;
  margin: 20px 0;
}

.list-products {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.divisor-item {
  margin: 10px 0;
  padding: 0;
}

.product-detail-cart {
  align-self: start;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}

.li-product-cart {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
}

.li-product-cart a {
  background-color: transparent;
}

.info-product {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-product-cart {
  border-radius: 3px;
  margin-top: 3px;
  max-height: 50px;
}

.detail-product {
  margin-left: 10px;
}

.name-product-cart {
  width: 225px;
  display: flex;
  justify-content:space-between;
  align-items:center;
}

.name-product-cart h3 {
  font-size: 16px;
  margin-bottom: 0;
  text-align: left;
}

.product-delete-button{
  font-size: 20px;
  display: flex;
  position: absolute;
  justify-content:flex-end;
  align-items:center;
  width: 245px;
}

.price-product-cart {
  font-size: 12px;
}

.sum-product-quantity-value {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  width: 250px;
}