* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.searchBar {
  align-items: center;
  display: flex;
  height: 80px;
}

.search {
  align-items: center;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 30px;
  margin: 0 10px;
}

.search input {
  background: transparent;
  border: transparent;
  height: 27px;
  padding: 10px;
  width: 100%;
}

.search input::placeholder {
  color: rgba(94, 94, 94, 0.459);
  font-size: 14px;
}

.search input:focus {
  outline: none;
}

.search input:focus::placeholder {
  color: transparent;
}

.div-messages {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 5px;
  width: 170px;
}

.message {
  color: white;
  font-size: 12px;
}

.favorites {
  margin-right: 5px;
}

.favorites-label {
  color: white;
  font-size: 12px;
}

@media (max-width: 550px) {
  .cart-products {
    margin: 10px 0;
    width: 390px;
  }

  .search {
    width: 90px;
  }

  .searchBar {
    flex-direction: column;
    justify-content: flex-end;
  }

  .search input {
    padding: 0;
    width: 50px;
  }

  .select-favorites {
    display: flex;
    margin-top: 5px;
  }

  .select-favorites label {
    font-size: 10px;
  }
}
