* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a:hover {
  background-color: #353E52;
  text-decoration: none;
}

.header {
  background-color: #353E52;
  margin-bottom: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.logo {
  font-family: 'Acme', sans-serif;
  font-size: 45px;
  color: white;
  margin-right: 10px;
  width: 190px;
}

.form-control,
.btn {
  border: 1px solid rgb(194, 194, 194);
  color: grey;
  font-size: 14px;
}

.fa-shopping-cart {
  font-size: 25px;
}

.fa-shopping-cart path {
  fill: #fff;
}

.div-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-cart{
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  height: fit-content;
  align-self: center;
  background-color: transparent;
  border: none;
}

.container-quantity-cart {
  display: flex;
  position: absolute;
}

.fa-shopping-cart {
  margin-right: 15px;
  margin-top: 5px;
  font-size: 40px;
}

.quantity-products-cart {
  background-color: grey !important;
  color: white !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

@media (max-width: 400px) {
  .logo {
    font-size: 30px;
    width: 120px;
  }

  .fa-shopping-cart::before {
    font-size: 20px;
  }
}