* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.searchBar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left:10px;
  margin-right:10px;
  height: 72px;
  width: 100%;
}

.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.div-input {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color:white;
  border: 1px solid grey;
  border-radius: 15px;
}

.div-button-clear-search{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

.button-clear-search{
  width:20px;
  border-radius: 50%;
  border-color: transparent;
  color: grey;
  background-color:rgba(128, 128, 128, 0.184);
}

.div-input input {
  background-color: transparent;
  border: none;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  margin-left: 5px;
  width:auto;
}

.div-input input::placeholder {
  color: rgba(94, 94, 94, 0.459);
  font-size: 12px;
}

.div-input input:focus {
  outline: none;
}

.div-input input:focus::placeholder {
  color: transparent;
}

.div-messages {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: flex-start;
  width: 170px;
  height: 20px;
  word-wrap: break-word;
}

.message {
  color: #fff;
  font-size: 10px;
  padding-bottom: 5px;
}

.div-favorites {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 15px;
  align-items: center;
  height: 20px;
}

.favorites-label {
  color: white;
  font-size: 12px;
  margin-left: 5px;
}

@media (max-width: 550px) {
  .cart-products {
    margin: 10px 0;
    width: 390px;
  }

  .message {
    font-size: 10px;
  }

  .favorites-label {
    font-size: 10px;
  }

  .div-input{
    width: 150px;
  }
  .div-input input{
    width: 110px;
  }
}